.hero_image {
    color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/northArena.jpeg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    /* background-position:center ; */
    background-size: cover;
}

.loginbox {
    background-color: rgb(246, 234, 234);
    opacity: 1;
    border-radius: 10%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
}

.form_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.reg_link{
    font-size: large;
}

/* .hero_image{
    height: 100vh;
    width: 100%;
} */

.submit_btn {
    background-color: rgb(55, 55, 225);
    color: white;
    /* padding: 15px 20px; */
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.submit_btn:hover {

    background-color: rgb(46, 212, 112);
}

.logfont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textbox {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

label {
    width: 100%;
}

.upperthings {
    height: 10vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-items {
    display: flex;

}

